# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

Exercises/conditionals.go
Datastructures/slices.go
Datastructures/arrays.go
Datastructures/maps.go
Exercises/projecteuler.go
